{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Aziz — About Me</title>
  <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}" />
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" href="{% static 'myapp/images/favicon.ico' %}" type="image/x-icon" />




</head>
<body>
  <div id="particles-js"></div>
<!-- Loader -->
<div id="loader">
  <div class="dot-loader">
    <span></span><span></span><span></span>
  </div>
</div>

  <nav class="navbar">
    <div class="nav-container">
      <div class="logo">Aziz Sobirjonov</div>
    <button id="burgerBtn" aria-label="Открыть меню">
      <i id="burgerIcon" class="fas fa-bars"></i>
    </button>
      <ul class="nav-links">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="{% url 'about' %}">Обо мне</a></li>
        <li><a href="{% url 'skills' %}">Навыки</a></li>
        <li><a href="{% url 'contact' %}">Контакты</a></li>
         <li>
  <button id="themeToggle">
    <i id="themeIcon" class="fa-solid fa-moon"></i>
  </button>
</li>
      </ul>
    </div>
  </nav>


  <header>
    <div class="container">
      <h1>Привет, я Aziz Sobirjonov<h1>
      <p>Веб-разработчик и программист</p>
    </div>
  </header>

  <footer class="site-footer">
  <div class="footer-links">
    <a href="mailto:sobirjonov0909@gmail.com"  aria-label="Email"><i class="fa-solid fa-envelope"></i></a>
    <a href="https://t.me/sbrzhnvv_a"        aria-label="Telegram" target="_blank"><i class="fa-brands fa-telegram"></i></a>
    <a href="https://github.com/ITsimpact"  aria-label="GitHub"   target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://instagram.com/sbrzhnvv_a" aria-label="Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
  </div>
  © {{ now.year }} Azz
</footer>


  <script src="{% static 'myapp/js/particles.min.js' %}"></script>
  <script src="{% static 'myapp/js/script.js' %}"></script>
</body>
</html>
